$main-image: "../images/background.jpg";
$under-main-image: "../images/piramida-żywienia.jpg", "../images/warzywa.jpg", "../images/jedzenie.jpg" ;
$pyramid-image: "../images/orzechy.jpg", "../images/ryby.jpg", "../images/mleko.jpg",
 "../images/prdukty-zbozowe.jpg", "../images/warzywa.jpg", "../images/aktywnosc.png" ;
$shadow-color: green;