.rules {
  @include flex(center, center);
  position: relative;
  background-color: $color-white;
  padding: 64px;
  gap: 32px;
  box-sizing: content-box;
  height: 500px;
  box-shadow: $shadow-small;

  .image {
    @include imageTile(
      "https://images.unsplash.com/photo-1515023115689-589c33041d3c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80",
      500px,
      500px
    );
    position: relative;
    z-index: 10;
  }

  .rules-container {
    @include flex(space-between, center, column, wrap);
    height: 100%;
  }
}

.rule {
  @include flex(center, center);
  padding: 8px;
  border: 3px solid $color-primary;
  gap: 1rem;
  background-color: $color-white;
  box-shadow: $shadow-small;

  img {
    width: 64px;
    height: 64px;
    object-fit: cover;
  }

  div {
    @include flex(flex-start, left, column, wrap);
    max-width: 400px;
    gap: 8px;
  }

  .title {
    @include text(1.3rem, 400);
  }

  .content {
    @include text(1rem, 300);
  }
}
