@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #faedcd;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid #eaeaea;
}

img {
  max-width: 100%;
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInleft {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.slideInUp {
  animation-name: slideInUp;
}

.slideInDown {
  animation-name: slideInDown;
}

.slideInLeft {
  animation-name: slideInleft;
}

.slideInRight {
  animation-name: slideInRight;
}

[data-animation] {
  opacity: 0;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: both;
  animation-duration: 1s;
}

.section-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: auto;
  width: 80vw;
  height: 100vh;
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 400px;
  background-color: #f3f3f3;
  padding: 3rem 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: absolute;
  bottom: 5%;
  left: 20%;
}
.card .title {
  font-size: 1.5rem;
  font-weight: 400;
  color: #080808;
}
.card .content {
  font-size: 1rem;
  font-weight: 300;
  color: #080808;
  line-height: 1.5rem;
}
.card .link {
  font-size: 1rem;
  font-weight: 300;
  color: #ccd5ae;
}
.card .button {
  width: fit-content;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background-color: #ccd5ae;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  color: #080808;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.card .button:hover {
  background-color: #e9edc9;
}

.transparent-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 400px;
  position: absolute;
  left: 10%;
}
.transparent-card .title {
  font-size: 2rem;
  font-weight: 400;
  color: #080808;
}
.transparent-card .content {
  font-size: 1rem;
  font-weight: 300;
  color: #080808;
  line-height: 2rem;
}
.transparent-card .link {
  font-size: 1rem;
  font-weight: 300;
  color: #080808;
  text-decoration: underline;
}
.transparent-card .link:hover {
  color: #ccd5ae;
}
.transparent-card .button {
  width: fit-content;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background-color: #ccd5ae;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  color: #080808;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.transparent-card .button:hover {
  background-color: #fefae0;
}

.rules {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  background-color: #f3f3f3;
  padding: 64px;
  gap: 32px;
  box-sizing: content-box;
  height: 500px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.rules .image {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: #ccd5ae;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1515023115689-589c33041d3c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80");
  position: relative;
  z-index: 10;
}
.rules .rules-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.rule {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 8px;
  border: 3px solid #ccd5ae;
  gap: 1rem;
  background-color: #f3f3f3;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.rule img {
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.rule div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  flex-wrap: wrap;
  max-width: 400px;
  gap: 8px;
}
.rule .title {
  font-size: 1.3rem;
  font-weight: 400;
  color: #080808;
}
.rule .content {
  font-size: 1rem;
  font-weight: 300;
  color: #080808;
}

.image-tile {
  position: absolute;
  width: 70%;
  height: 60%;
  background-color: #ccd5ae;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1467453678174-768ec283a940?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2288&q=80");
}

.hero-image-tile {
  position: absolute;
  width: 500px;
  height: 700px;
  background-color: #ccd5ae;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1526718583451-e88ebf774771?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80");
  top: 10%;
  right: 20%;
}

.hero-tile {
  position: absolute;
  width: 500px;
  height: 550px;
  background-color: #ccd5ae;
  z-index: -1;
  bottom: 10%;
  right: 15%;
}

.primary-tile {
  position: absolute;
  width: 300px;
  height: 600px;
  background-color: #ccd5ae;
  z-index: -1;
  top: 10%;
  right: 10%;
}

.secondary-tile {
  position: absolute;
  width: 50%;
  height: 450px;
  background-color: #ccd5ae;
  z-index: -1;
  bottom: 13%;
  left: 10%;
}

.rules-tile {
  position: absolute;
  width: 400px;
  height: 750px;
  background-color: #ccd5ae;
  z-index: -1;
}

.subsite:nth-child(1) .subsite-image {
  background-image: url("../images/../images/piramida-żywienia.jpg");
  background-size: cover;
  background-position: center;
}

.subsite:nth-child(2) .subsite-image {
  background-image: url("../images/../images/warzywa.jpg");
  background-size: cover;
  background-position: center;
}

.subsite:nth-child(3) .subsite-image {
  background-image: url("../images/../images/jedzenie.jpg");
  background-size: cover;
  background-position: center;
}

.subsite {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin: 1em;
  cursor: pointer;
  box-shadow: 0 0 12px green;
  position: relative;
  overflow: hidden;
}
.subsite .subsite-image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 100%;
  transition: opacity 1s ease-in, height 1s ease-in;
}
.subsite .caption {
  position: absolute;
  bottom: -60px;
  right: 1em;
  transition: transform 1s ease-in;
  text-align: center;
  font-weight: bold;
}

.subsite:hover .subsite-image {
  opacity: 100%;
  height: 80%;
}
.subsite:hover .caption {
  transform: translateY(-50px);
}

.pyramid:nth-child(1) .pyramid-image {
  background-image: url("../images/../images/orzechy.jpg");
  background-size: cover;
  background-position: center;
}

.pyramid:nth-child(2) .pyramid-image {
  background-image: url("../images/../images/ryby.jpg");
  background-size: cover;
  background-position: center;
}

.pyramid:nth-child(3) .pyramid-image {
  background-image: url("../images/../images/mleko.jpg");
  background-size: cover;
  background-position: center;
}

.pyramid:nth-child(4) .pyramid-image {
  background-image: url("../images/../images/prdukty-zbozowe.jpg");
  background-size: cover;
  background-position: center;
}

.pyramid:nth-child(5) .pyramid-image {
  background-image: url("../images/../images/warzywa.jpg");
  background-size: cover;
  background-position: center;
}

.pyramid:nth-child(6) .pyramid-image {
  background-image: url("../images/../images/aktywnosc.png");
  background-size: cover;
  background-position: center;
}

.pyramid {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin: 1em;
  cursor: pointer;
  box-shadow: 0 0 12px green;
  position: relative;
  overflow: hidden;
}
.pyramid .pyramid-image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 100%;
  transition: opacity 1s ease-in-out, height 1s ease-in-out;
}
.pyramid .pyramid-caption {
  position: absolute;
  bottom: -220px;
  right: 1em;
  transition: transform 1s ease-in-out;
  text-align: right;
  overflow: hidden;
  text-align: center;
}

.pyramid:hover .pyramid-image {
  opacity: 10%;
}
.pyramid:hover .pyramid-caption {
  transform: translateY(-220px);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
}

header {
  gap: 1em;
  color: green;
  font-family: Helvetica, sans-serif;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  width: 100%;
  height: 250px;
  background-image: url("../images/../images/background.jpg");
  background-size: cover;
  background-position: center;
}

footer {
  gap: 1em;
  text-align: right;
  color: black;
  transform: translateY(100px);
  font-weight: 550;
}

.subsites-container {
  transform: translateY(50px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.pyramid-container {
  top: 1.5%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

body {
  background-color: white;
  opacity: 80;
  font-family: Helvetica, sans-serif;
}

/*# sourceMappingURL=main.css.map */
