@import "../base/typography";

@import "../helpers/variables";
@import "../helpers/functions";

@import "../components/subsite";
@import "../components/pyramid";

@import "../layout/header";

@import "../layout/footer";

@import "../layout/subsite-layout";

body {
  background-color: white;
  opacity: 80;
  font-family: $font-stack;
}

main {
  @extend %rows-center;
}
